.candidateProfile {
  margin: 30px 30px;
  border: 1px solid #ddd;
  padding: 33px 33px;
  border-radius: 3px;
}

.candidateName {
  text-align: center;
}

.voteBtn {
  text-align: center;
  padding: 15px 51px;
  background-color:	#a32600;
  font-size: 26px;
  text-transform: uppercase;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.voteBtn:hover {
  background-color: #00a326;
  cursor: pointer;
  color: #a32600;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
