.Container {
    margin-top: 200px;
    margin-right: 150px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d6d6d6;
    box-shadow: 10px 33px 40px -13px #bfbfbf;
  }